:root {
    --tile-width: 5em;
    --tile-height: calc(var(--tile-width) / 2);
    --tile-color: black;
    --map-width: 3;

    --desert: khaki;
    --plains: goldenrod;
    --grassland: yellowgreen;
    --tundra: white;
    --coast: lightseagreen;
    --sea: mediumseagreen;
    --ocean: seagreen;
}
div#error {
    color: red;
}
div#map {
    /* display: flex; */
}
.row {
    display: flex;
    margin-bottom: calc(var(--tile-height) * -0.5);
    width: calc(var(--map-width) * var(--tile-width));
    background-color: black;
}
.row:nth-child(even) {
    /* for indenting even rows */
    padding-left: calc(var(--tile-width) / 2);
}
.row:nth-child(odd) {
    /* for lining up the row div for background color fills */
    padding-right: calc(var(--tile-width) / 2);
}
map-tile {
    box-sizing: border-box;
    /* margin: 0 0; */
    /* needed to allow text div to overlay shape div */
    position: relative;
    /* need height & width here because of the 0-w/h div below */
    width: var(--tile-width);
    height: var(--tile-height);
}
div.isotile {
    display: flex;
    box-sizing: border-box;
    /* margin: 0 0; */
    /* using borders and 0-w/h to make top half of a diamond */
    width: 0;
    height: 0;
    border: calc(var(--tile-width) / 2) solid transparent;
    border-bottom: calc(var(--tile-height) / 2) solid var(--tile-color);
    position: absolute;
    top: calc(var(--tile-width) / -2);
}
div.isotile:after {
    /* using borders and 0-w/h to make bottom half of a diamond */
    content: '';
    position: absolute;
    left: calc(var(--tile-width) / -2);
    top: calc(var(--tile-height) / 2);
    width: 0;
    height: 0;
    border: calc(var(--tile-width) / 2) solid transparent;
    border-top: calc(var(--tile-height) / 2) solid var(--tile-color);
}
.tiletext, .terrain-overlay {
    position: absolute;
    width: var(--tile-width);
    height: var(--tile-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chopped {
    --size-ratio: 0.7;
    position: absolute;
    left: calc(var(--tile-width) / 2 - calc(var(--size-ratio) * var(--tile-width) / 2));
    top: calc(var(--tile-height) / 2 - calc(var(--size-ratio) * var(--tile-height) / 2));
    width: calc(var(--size-ratio) * var(--tile-width));
    height: calc(var(--size-ratio) * var(--tile-height));
    background: red;
    border-radius: 50%;
    opacity: 0.3;
  }