.fog {
    background-color: black;
    color: white;
    fill: black;    /* for the svg version */
}

.bigblue {
    background-color: lightblue;
    fill: blue;     /* for the svg version */
}

svg {
    position:absolute;
    font-size: 2em;
}
/* .map > polygon { */
polygon {
    fill: green;
    /*
    stroke: black;
    stroke-width: 1;
    */
    shape-rendering: crispEdges;
}

/* The map edge rectangle(s) that backdrop the edge tiles */
.mapEdge {
    fill: black;
}

div#map {
}
