/* "fog of war"; unrevealed tiles */
.fog {
    fill: black;
}

/* "What's This" text elements I use to show given hex tiles per map */
.whatsthis {
    display: none;
}

/* .map > polygon { */
polygon {
    fill: red; /* red should stand out if I don't have a polygon otherwise styled */
    /* for gridlines
    stroke: black;
    stroke-width: 1;
    */
    shape-rendering: crispEdges;
}

/* The map edge rectangle(s) that backdrop the edge tiles */
.mapEdge {
    fill: black;
}

/* Rivers */
/* Rivers are temporarily just a circle in the middle of the tile */
.river {
    fill: blue;
}
/* Overlay Terrain */
.overlayterrain {
    /* display: none; */
}

/* Base Terrain for Desert */
.terrbase0 {
    fill: #F7DE94;
}

/* Flood Plain Terrain */
.floodplain {
    fill: #C7FF94;
}

/* Base Terrain for Plains */
.terrbase1 {
    fill: #E7C663;
}

/* Base Terrain for Grassland */
.terrbase2 {
    /* fill: #888921; */
    fill: #9C9C39;
}

/* Base Terrain for Tundra */
.terrbase3 {
    fill: #D0E5E0;
}

/* Base Terrain */
.terrbase4 {
}

/* Base Terrain for Coast (water tile) */
.terrbase11 {
    fill: #9CE7BD;
}

/* Base Terrain for Sea */
.terrbase12 {
    fill: #39B5AD;
}

/* Base Terrain for Ocean */
.terrbase13 {
    fill: #014353;
}

/* Overlay Terrain for Forest */
.terroverlay7 {
    font-size: 3em;   /* A Forest is currently a string unicode up arrows; let's make it big */
    /* fill: darkgreen; */
}

/* Overlay Terrain for Mountain */
/* Overlay Terrain for Hill */
.terroverlay5 {
  font-size: 6em;   /* A hill is currently a unicode circle in a string; let's make it big */
}

/* Overlay Terrain for Mountain */
.terroverlay6 {
  font-size: 5em;   /* A mountain is currently a unicode triangle in a string; let's make it big */
  fill: saddlebrown;
}
